.tab-contol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    text-align: center;
}
.tab-contol .item{
    flex: 1 ;
}
.tab-control .item.active {
    color: red;
  }
.tab-control .item.active .text {
    padding: 3px;
    border-bottom: 3px solid red;
  }
  
